body {
    background-color: #FFF4FF;
    background-image: url("../img/feedtopdown.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1200px;
    margin: auto;
}

header {
    font-family: "muscle-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A66060;
    width: 300px;
    position: fixed;
    top: 25px;
    left: 25px;

}

nav{
    font-family: 'Comic Neue', cursive;
    width: 200px;
    position: fixed;
    top: 300px;
    left: 25px;
    background-color: tan;
    text-align: center;
    color:#A66060
    
}

nav h5:hover {
    background-color: papayawhip;
    color: red;
    width:150px;
}

nav a {
    color: inherit
}

main{
    width: 650px;
    margin-left: 500px;
    color: brown;
    font-size: larger;
}

section{
    background-color: #FFF4FF;
    background: rgba(211, 183, 196, 0.5);
    border: 5px #A66060 solid;
    margin-top: 100px;
    text-align: center;
    padding: 15px
}

section img{
    border: 5px #A66060 solid;
    padding: 5px;

}

footer{
    background-color: #A66060;
    width: 300px;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

#splashgif{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 25%;
}

#feedpage{

    background-image: url("../img/feedscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1200px;
    margin: auto;
    font-family: 'Comic Neue', cursive; 
}



