body {
    background-color: #FFF4FF;
    max-width: 1200px;
    margin: auto;
}

header {
    font-family: "muscle-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #A66060;
    width: 300px;
    position: fixed;
    top: 50px;
    left: 25px;
}

nav{

    width: 300px;
    position: fixed;
    top: 200px;
    left: 25px;
}

nav h5:hover {
    background-color: yellow;
}

main{
    background-color: #FFE5FF;
    width: 650px;
    margin-left: 500px;
}

section{
   
    border: 5px #A66060 solid;
    margin-top: 25px;
    text-align: center;
    padding: 15px
}

section img{
    border: 5px #A66060 solid;
    padding: 5px;

}

footer{
    background-color: #A66060;
    width: 300px;
    position: fixed;
    bottom: 50px;
    left: 25px;
}

#splashgif{
    border: 5px #A66060 solid;
    border-radius: 15%;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 25%;
}



